extends layout.jade

block content
	div.row
		div.four.columns
			br
		div.six.columns
			br
			h2="Doctors"
			br
	each item in doctors
		div.row
			div.two.columns
				img(src='./data/images/doctor.png')
			div.three.columns
				a(href='/view/doctor/'+item.business_id)
					= item.name
			div.three.columns
				=item.city +', '+item.state
			div.three.columns(style='color: red')
				= item.stars+ " Stars"
