extends layout.jade

block content
    each item in restaurants   
        div.row
            div.eight.columns
                
                a(href='/view/restaurant/'+item.business_id)
                    = item.name
            div.four.columns
                = item.stars
                |  stars

