extends layout.jade
block content
    div.blue-container
        div.white-container
            table.u-full-width
                thead
                    tr
                        th Business Name
                        th Description
                        th Likes
                        th Date
                tbody
                    each item in tips
                        tr
                            td= item.business_id
                            td  
                                a(href='/view/tip/'+ item.business_id +'/'+ item.user_id ) #{item.text}
                            td= item.likes
                            td= item.date
        