extends layout.jade

block content
    div.blue-container
        div.white-container
            each item in doctors    
                div.row
                    div.eight.columns
                        a(href='/view/doctor/' + item.business_id)
                            = item.name
                    div.four.columns
                        if (item.attributes["By Appointment Only"])
                            | By Appointment Only

