extends layout

// TODO: use the better template from the hackathon
block content
    - var item = user
    if (!item)
      h3 No Matching User :(
    else
        h3= item.name
        div.row
            div.three.columns= item.name
