extends layout

block content
    // display the detail of the first item
    - var item = tip
    div.blue-container
        div.white-container
            div.row
                p &nbsp
                div.photo
                    img.photo(src='http://images.sciencedaily.com/2009/07/090727102026-large.jpg')
            div.row
                div.quote-text
                    p.quote-position= "\""+item.text+"\"" 
            div.row
                div.offset-by-six.columns= "-"+item.user_id
                div.offset-by-six.columns= item.date
                div.offset-by-six.columns
                    a.business-link(href="/view/" + business_type + "/" + business.business_id)= business.name 
                p &nbsp
