extends layout

// TODO: use the better template from the hackathon
block content
    - var item = tip
    table.u-full-width
      thead
        tr
          th Tip
          th By whom?
      tbody
        tr
          td= item.text
          td= item.user_id
