extends layout

block content
    // display the detail of the first item
    - var item = tip
    - var user = user_name
    div.row
        div.eight.columns
            img(src="design/restaurant.jpg")
            = item.business_id
        div.four.columns
            img(src="http://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802.jpg?s=80").vcenter
            = user
            blockquote= item.text
            = item.date
