extends layout

// TODO: use the better template from the hackathon
block content
    - var item = restaurant
    h3= item.name
    span
      b= "Located at:  "
      span= item.full_address
    br
    br
    table.u-full-width
      thead
        tr
          th City, State
          th Stars
          th Take-out?
          th Accepts cards?
          th Caters?
          th Alcohol?
      tbody
        tr
          td= item.city + ", " + item.state
          td  
            span
              i.fa.fa-spin
                i.fa.fa-star.fa-lg
            span
              i.fa.fa-spin
                i.fa.fa-star.fa-lg
            span
              i.fa.fa-spin
                i.fa.fa-star.fa-lg
            span
              i.fa.fa-spin
                i.fa.fa-star.fa-lg
          td 
            i.fa.fa-check.fa-lg
          td
              i.fa.fa-check.fa-lg
          td
              i.fa.fa-close.fa-lg
          td
              i.fa.fa-close.fa-lg
