extends layout

block content
	- var item = tip
	br
	br
	div#example-grid
		div.twelve.columns(style='text-align: center')
			div.row
				div.twelve.columns
					h5=item.text
			div.row
				div.two.columns(style='color: red')
					b Date
				div.four.columns
					=item.date
				div.two.columns(style='color: green')
					b User Id
				div.four.columns
					=item.user_id